<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bologna Congress</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body id="home">

    <!-- NAVBAR -->
     <div class="navbar navbar-toggleable-md py-3">
       <div class="container">
         <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
           <span class="fa fa-reorder pt-2 ml-5"></span>
         </button>
         <a href="#" class="navbar-brand">
           <!-- <img class="mr-1" src="#" alt="# Brand Logo" height="50" width="50"> -->
           <h4 class="d-inline align-middle hidden-xs-down">The Bologna Congress</h4>
           <h4 class="d-inline align-middle hidden-sm-up">TheBoloCongress</h4>
         </a>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto text-left">
             <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
             <li class="nav-item"><a href="#mission-head" class="nav-link">Why</a></li>
             <li class="nav-item"><a href="#congress-head" class="nav-link">What</a></li>
             <li class="nav-item"><a href="#about-head" class="nav-link">Who</a></li>
             <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li>
           </ul>
         </div>
       </div>
     </div>


     <!-- HOME SPLASH SECTION -->
     <section id="home-splash">
       <div class="dark-overlay py-4">

         <div class="container">
           <div class="row">
             <div class="col-md-7 mb-5">
               <h3 class="display-4">The Bologna Congress</h3>
               <br>
               <div class="text-right">

                 <h5 class="">A Master's Workshop</h5>
                 <h5 class="">6 & 7 May, 2018</h5>
               </div>
               <br>
                <p class="lead">The Environment, Climate Breakdown, and the Humanities</p>

                <div class="container">
                  <div class="row">
                    <div class="col">
                      <p><i class="fa fa-building-o align-middle pr-2"></i>&nbsp;&nbsp;&nbsp;Urban Environments</p>
                      <p><i class="fa fa-balance-scale align-middle pr-2"></i>&nbsp;Blame: Individual or Structural</p>
                      <p><i class="fa fa-cutlery align-middle pr-2"></i>&nbsp;&nbsp;&nbsp;Wasted Food & Wasted Soil</p>
                      <p><i class="fa fa-bug align-middle pr-2"></i>&nbsp;&nbsp;Consumer Environmentalism</p>
                      <p><i class="fa fa-diamond align-middle pr-2"></i>Neo-Malthusianism</p>
                      <p><i class="fa fa-cloud align-middle pr-2"></i>&nbsp;Climate Migration</p>
                    </div>
                 </div>
               </div>
             </div>

             <div class="col-md-5">
               <div class="card card-outline-secondary text-center">
                 <div class="card-block">
                   <h4>Apply Now</h4>
                   <hr>
                   <p class="lead">Submit your relevant research specifying how it can help the group you are applying for</p>
                   <p id="email">thebolognacongress@unibo.it</p>
                   <hr>
                   <p><small>We know that this format may seem unusual. We invite you to check out our FAQ which will hopefully answer any questions or doubts you may have. If you have any other questions, please, do not hesitate to send us an email!</small></p>
                   <a href="#faq" class="btn btn-lg btn-block btn-outline-secondary">FAQ</a>
                 </div>
               </div>
             </div>
           </div>

           <div class="container">
             <div class="row">
               <div class="col-md-12">
                 <p class="lead text-center" id="gloc">Master's of Global Cultures || Scuola di Lettere e Beni Culturali || University of Bologna</p>
                  <div class="text-center">
                    <img src="../img/unibo.png" height="150" width="150" class="img-fluid" alt="">
                  </div>
               </div>
              </div>
           </div>
        </div>
       </div>
     </section>



     <!-- MISSION -->
     <section id="mission-head" class="py-4 text-center">
       <div class="container">
         <div class="row">
           <div class="col">
             <h3 class="display-4">Our Mission</h3>
             <hr>
             <p class="lead">Five Objectives</p>
           </div>
         </div>
       </div>
     </section>


     <!-- MISSION SECTION -->
     <section id="mission-section" class="py-5">
       <div class="container">
         <div class="row">
          <div class="col-10 offset-1">
            <p class="lead"><span class="numbers display-4 text-white pl-2">1: &nbsp;</span>Name the faces and factions that limit us in effectively end the cyclical degradation of the Earth.</p>
            <p class="lead"><span class="numbers display-4 text-white">2: &nbsp;</span>Clearly illustrate what repair will look like.</p>
            <p class="lead"><span class="numbers display-4 text-white">3: &nbsp;</span>Create a loosely organized network of critical humanists passionate about saving the Earth.</p>
            <p class="lead"><span class="numbers display-4 text-white">4: &nbsp;</span>Experiment in new ways of organizing students by working together to create communal documents instead of presenting individual research.</p>
            <p class="lead"><span class="numbers display-4 text-white">5: &nbsp;</span>Document this experiment in social action as a new wave of Red and Green.</p>
          </div>
         </div>
       </div>
     </section>


     <!-- DESCRIPTION -->
      <section id="description" class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="display-4 text-center">Organizing</h3>
              <hr>
              <p class="lead text-right">
                In 6 groups of 10 master's students we will combine our previous research of our group's sub-topic and see what
                humanistic insights are waiting to be contributed to the common understanding of the environment, whether it
                be climactic, urban or rural.
              </p>
            </div>
            <div class="col-md-6">
              <h3 class="display-4 text-center">Creating</h3>
              <hr>
              <p class="lead">
                Each subgroup will be responsible to create it's own document over the first day and a half. The second half of the
                second day will be dedicated to group critique and assembling the documents into a mosaic meta-document on the state
                of the environment from our perspectives.
              </p>
            </div>
          </div>
        </div>
      </section>

     <!-- CONGRESS HEAD -->
     <section id="congress-head" class="py-4 text-center">
       <div class="container">
         <div class="row">
           <div class="col">
             <h3 class="display-3">The Congress</h3>
             <hr>
             <p class="lead">2 Days. 3 Nights. A World of Neoliberalism to Rethink</p>
             <hr>
           </div>
         </div>
       </div>
     </section>

     <!-- CONGRESS SECTION -->
     <section id="congress-section" class="py-4">
       <div class="container">
         <div class="row py-3">
           <div class="col-md-6 mb-3">
             <div class="card card-outline-secondary">
               <div class="card-block">
                 <h3 class="text-center">Wednesday Pre-Party (optional)</h3>
                 <p class="lead">Day 0</p>
                 <hr>
                 <p><i class="fa fa-check"></i>Early Check-In & Registration</p>
                 <p><i class="fa fa-camera-retro"></i>Tour Around Bologna</p>
                 <p><i class="fa fa-glass"></i>Party alla bolognese</p>
               </div>
             </div>
           </div>
           <div class="col-md-6 mb-3">
             <div class="card card-outline-secondary">
               <div class="card-block">
                 <h3 class="text-center">Thursday: 9 - 17</h3>
                 <p class="lead">Day 1</p>
                 <hr>
                 <p><i class="fa fa-check"></i>Registration</p>
                 <p><i class="fa fa-quote-left"></i>Keynote</p>
                 <p><i class="fa fa-sitemap"></i>Format & Structure Presentation</p>
                 <p><i class="fa fa-users"></i>Organize into Groups</p>
                 <div class="col-11 offset-1 subicon">
                   <p><i class="fa fa-lightbulb-o"></i>Share Insights</p>
                   <p><i class="fa fa-exclamation-circle"></i>Analyze Problem</p>
                   <p><i class="fa fa-bullseye"></i>Name the Bad Actors </p>
                   <p><i class="fa fa-smile-o"></i>Brainstorm New Ways of Being</p>
                 </div>
                 <p><i class="fa fa-cutlery"></i>Lunch & Coffee Time Gratis</p>
                 <div class="col-11 offset-1 subicon">
                   <p><i class="fa fa-leaf"></i>Vegan Options</p>
                 </div>
                 <p><i class="fa fa-users"></i>Share Experience & Give Feedback in Alternative Groups</p>
                 <p><i class="fa fa-beer"></i>A Pizza in Piazza Party (Night)</p>
               </div>
             </div>
           </div>
         </div>
         <div class="row py-3">
           <div class="col-md-6 mb-3">
             <div class="card card-outline-secondary">
               <div class="card-block">
                 <h3 class="text-center">Friday: 9 - 17</h3>
                 <p class="lead">Day 2</p>
                 <hr>
                 <p><i class="fa fa-coffee"></i>Breakfast in Town Together</p>
                 <p><i class="fa fa-users"></i>Divide into Groups</p>
                 <div class="col-11 offset-1 subicon">
                   <p><i class="fa fa-check"></i>Review Thursday Work</p>
                   <p><i class="fa fa-lightbulb-o"></i>Create the Plan</p>
                   <p><i class="fa fa-umbrella"></i>Foresee the Difficulties</p>
                   <p><i class="fa fa-pencil"></i>Form the Sub-Document</p>
                 </div>
                 <p><i class="fa fa-quote-left"></i>Guest Presentation</p>
                 <p><i class="fa fa-cutlery"></i>Lunch & Coffee Time Gratis</p>
                 <div class="col-11 offset-1 subicon">
                   <p><i class="fa fa-leaf"></i>More Vegan Options</p>
                 </div>
                 <p><i class="fa fa-users"></i>Congressional Review Assembly</p>
                 <p><i class="fa fa-book"></i>Assemble the Document</p>
                 <p><i class="fa fa-birthday-cake"></i>The Non-Partisan Party</p>
               </div>
             </div>
           </div>
           <div class="col-md-6 mb-3">
             <div class="card card-outline-secondary">
               <div class="card-block">
                 <h3 class="text-center">Saturday: 10 - </h3>
                 <p class="lead">Day 3</p>
                 <hr>
                 <p><i class="fa fa-check"></i>Check-Out</p>
                 <p><i class="fa fa-coffee"></i>Breakfast </p>
                 <p><i class="fa fa-plane"></i>Go Home</p>
                 <br>
                 <br>
                 <p class="lead text-center">In the Following Weeks</p>
                 <hr>
                 <p><i class="fa fa-bullhorn"></i>Share Your Experience and Insights</p>
                 <p><i class="fa fa-video-camera"></i>View the Congressional Documentary</p>
                 <p><i class="fa fa-book"></i>Check out the Congressional Journal</p>
                 <br>
                 <br>
                 <p class="lead text-center">In the Following Lifetime</p>
                 <hr>
                 <p><i class="fa fa-bolt"></i>Smash Neoliberalism</p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>


   <!-- ABOUT HEAD -->
   <section id="about-head" class="pt-4 text-center">
     <div class="container">
       <div class="row">
         <div class="col">
           <h3 class="display-4">Who We Are</h3>
           <hr>
           <p class="lead">Why We Do What We Do</p>
           <p><small>in 100 words</small></p>
         </div>
       </div>
     </div>
   </section>


   <!-- ABOUT SECTION -->
   <section id="about-section" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-right">
            <h3 class="display-4">Cirriculum of Global Cultures</h3>
            <h4>University of Bologna</h4>
            <p class="lead">School of Arts, Humanities, and Cultural Heritage</p>
            <hr>
          </div>
          <div class="text-center">
            <p class="lead">thebolognacongress@unibo.it</p>
            <p>Reserve your spot today by sending us an email with your research relevant to the subcommittee you would like to participate in.</p>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <p class="lead"><span class="lead">We are an international master's which offers students a critical perspective on the history of
            globalization(s). Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis earum, libero ut, obcaecati
            dolor cum explicabo eveniet sapiente. Impedit ratione eos blanditiis labore deserunt sit harum dicta!</span>
            &nbsp;<small>This is lorem ipsum, a filler text publishers and graphic designers use to make mockups when they're too
            tired to finish what they started. It is a smattering of Cicero's <em>De finibus bonorum et malorum</em> that was likely
            taken from Loeb's 1914 edition.</small></p>
        </div>
      </div>
    </div>
   </section>

   <footer class="text-center py-4">
     <div class="container">
       <div class="row">
         <div class="col-md-4 offset-md-4">
           <div class="d-block lead">
             <a href="#">Home</a>
             <a href="#mission-head">Mission</a>
             <a href="#congress-head">Congress</a>
             <a href="#about-head">About</a>
           </div>
           <div>
             <p class="lead">thebolognacongress@unibo.it</p>
           </div>
           <div class="pt-3">
             <a href="http://jbm-designs.herokuapp.com" class="btn btn-sm btn-outline-secondary">Let Me Make You A Kickass Site Like This</a>
             <a href="http://jbm-designs.herokuapp.com"><p class="lead">2017 &copy; jbm designs</p></a>
           </div>
         </div>
       </div>
     </div>
   </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
