/* RGB */
body {
  background-color: #040403;
  color: #9ddbad; }
  body a:hover {
    text-decoration: none; }
  body hr {
    border-color: #8eb897; }
  body .card-outline-secondary {
    border-color: #8eb897; }
  body .btn-outline-secondary {
    border-color: #c3e8bd;
    color: #9ddbad; }
  body .btn-outline-secondary:hover {
    background-color: #5b7553; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%; }

.navbar {
  background: #040403; }
  .navbar a {
    color: #9ddbad;
    text-decoration: none; }
  .navbar a:hover {
    color: #5b7553; }
  .navbar .fa-reorder {
    color: #9ddbad; }

#home-splash {
  position: relative;
  background: url(../img/climate3_2.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  color: #8eb897; }
  #home-splash #email {
    color: #c3e8bd;
    font-size: 1.2em; }
  #home-splash a.btn {
    border-color: #c3e8bd; }
  #home-splash a.btn:hover {
    background-color: #9ddbad;
    color: #040403; }
  #home-splash .fa {
    font-size: 34px; }
  #home-splash p:nth-of-type(2) {
    margin-left: -8px; }
  #home-splash #gloc {
    font-size: 34px; }

#mission-section, #description {
  background-color: #5b7553;
  color: #9ddbad; }

#congress-head {
  background-color: #9ddbad;
  color: #040403; }

#congress-section {
  background: url(../img/police2_2.jpg);
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: contain !important;
  max-width: 100%;
  color: #8eb897; }
  #congress-section .subicon i {
    font-size: 24px !important; }
  #congress-section .fa {
    font-size: 30px;
    padding-right: 10px; }

#about-head {
  background-color: #5b7553; }

#about-section {
  background-color: #040403;
  color: #8eb897; }
  #about-section .display-4 {
    font-size: 36px; }

footer {
  color: #9ddbad; }
  footer a {
    color: #9ddbad; }
  footer a.btn {
    white-space: normal !important;
    max-width: 280px; }
  footer .card-outline-secondary {
    border-color: #c3e8bd; }

@media (min-width: 310px) {
  #home-splash {
    height: 1750px; }
  #congress-section {
    height: 2800px; } }

@media (min-width: 326px) {
  #home-splash {
    height: 1680px; }
  #congress-section {
    height: 2800px; } }

@media (min-width: 348px) {
  #home-splash {
    height: 1600px; }
  #congress-section {
    height: 2800px; } }

@media (min-width: 350px) {
  #home-splash {
    height: 1580px; }
  #congress-section {
    height: 2670px; } }

@media (min-width: 386px) {
  #home-splash {
    height: 1520px; }
  #congress-section {
    height: 2580px; } }

@media (min-width: 450px) {
  #home-splash {
    height: 1480px; }
  #congress-section {
    height: 2580px; } }

@media (min-width: 512px) {
  #home-splash {
    height: 1390px; }
  #congress-section {
    height: 2520px; } }

@media (min-width: 558px) {
  #home-splash {
    height: 1310px; }
  #congress-section {
    height: 2520px; } }

@media (min-width: 708px) {
  #home-splash {
    height: 1250px; }
  #congress-section {
    height: 2520px; } }

@media (min-width: 768px) {
  #home-splash {
    height: 970px; }
  #congress-section {
    height: 1590px; } }

@media (min-width: 992px) {
  #home-splash {
    height: 890px; }
  #congress-section {
    height: 1540px; } }

@media (max-width: 768px) {
  .container {
    width: 100%; } }
