
/* RGB */
$color1: rgba(4, 4, 3, 1);
$color2: rgba(91, 117, 83, 1);
$color3: rgba(142, 184, 151, 1);
$color4: rgba(195, 232, 189, 1);
$color5: rgba(157, 219, 173, 1);


$dark-overlay: rgba(0,0,0,0.8);


body {
  background-color: $color1;
  color: $color5;

  a:hover {
    text-decoration: none;
  }

  hr {
    border-color: $color3;
  }
  .card-outline-secondary {
    border-color: $color3;
  }

  .btn-outline-secondary {
    border-color: $color4;
    color: $color5;
  }

  .btn-outline-secondary:hover {
    background-color: $color2;
  }
}

.dark-overlay {
  background-color: $dark-overlay;
  position: absolute;
  height: 100%;
  width: 100%;
}

.navbar {
  background: $color1;

  a {
    color: $color5;
    text-decoration: none;
  }

  a:hover {
    color: $color2;
  }

  .fa-reorder {
    color: $color5;
  }
}


#home-splash {
  position: relative;
  background: url(../img/climate3_2.jpeg);
  max-width: 100%;
  background-size: cover !important;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 700px;
  color: $color3;

  #email {
    color: $color4;
    font-size: 1.2em;
  }

  a.btn {
    border-color: $color4;
  }

  a.btn:hover {
    background-color: $color5;
    color: $color1;
  }

  .fa {
    font-size: 34px;
  }

  p:nth-of-type(2) {
    margin-left: -8px;
  }

  #gloc {
    font-size: 34px;
  }
}

#mission-head {

}

#mission-section, #description {
  background-color: $color2;
  color: $color5;
}


#congress-head {
  background-color: $color5;
  color: $color1;
}

#congress-section {
  background: url(../img/police2_2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover !important;
  max-width: 100%;
  color: $color3;

  .subicon i {
    font-size: 24px !important;
  }

  .fa {
    font-size: 30px;
    padding-right: 10px;
  }
}

#about-head {
  background-color: $color2;
}

#about-section {
  background-color: $color1;
  color: $color3;

  .display-4 {
    font-size: 36px;
  }
}

footer {
  color: $color5;
  a {
    color: $color5;
  }
  a.btn {
    white-space: normal !important;
    max-width: 280px;
  }

  .card-outline-secondary {
    border-color: $color4;
  }
}





/////////////////////////////////////////////
// MEDIA QUERIES
/////////////////////////////////////////////

/////////////
// SIZING
/////////////
@media (min-width: 310px) {
  #home-splash {
    height: 1750px;
  }

  #congress-section {
    height: 2800px;
  }
}


@media (min-width: 326px) {
  #home-splash {
    height: 1680px;
  }

  #congress-section {
    height: 2800px;
  }
}


@media (min-width: 348px) {
  #home-splash {
    height: 1600px;
  }

  #congress-section {
    height: 2800px;
  }
}


@media (min-width: 350px) {
  #home-splash {
    height: 1580px;
  }

  #congress-section {
    height: 2670px;
  }
}


@media (min-width: 386px) {
  #home-splash {
    height: 1520px;
  }

  #congress-section {
    height: 2580px;
  }
}

@media (min-width: 450px) {
  #home-splash {
    height: 1480px;
  }

  #congress-section {
    height: 2580px;
  }
}

@media (min-width: 512px) {
  #home-splash {
    height: 1390px;
  }

  #congress-section {
    height: 2520px;
  }
}

@media (min-width: 558px) {
  #home-splash {
    height: 1310px;
  }

  #congress-section {
    height: 2520px;
  }
}

@media (min-width: 708px) {
  #home-splash {
    height: 1250px;
  }

  #congress-section {
    height: 2520px;
  }
}


@media (min-width: 768px) {
  #home-splash {
    height: 970px;
  }

  #congress-section {
    height: 1590px;
  }
}

@media (min-width: 992px) {
  #home-splash {
    height: 890px;
  }

  #congress-section {
    height: 1540px;
  }
}





@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
